<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="container" style="margin-bottom:10%">

  <div class="accordion" id="accordionExample">
    <div class="card">

      <div class="card-header bg-info text-white" id="headingOne">
        <h2 class="mb-0 text-right">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
             إضافة الاعتمادات للمأمورية
          </button>
        </h2>

      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body ">

          <form [formGroup]="OrdMissForm" #f="ngForm">
           <div class="row " dir="rtl">
            <div class="form-group col-md-4 text-right">
              <label>المامورية رقم</label>
              <h4><span class = "label label-default">{{numMission}}/{{cod}}</span></h4>
       </div>

       <input type="text" formControlName="numMission" hidden [(ngModel)]="codeMission">
       <input type="text" formControlName="numord" hidden [(ngModel)]="num_ord" >
       <input type="text" formControlName="cin" hidden [(ngModel)]="username">

           </div>
            <div class="row">
                <div class="form-group col-md-3 text-right">
                    <label>المدة
                    </label>
                    <input type="textbox" >
                  </div>    
                <div class="form-group col-md-3 text-right">
                    <label>وسيلة النقل
                    </label>
                    <select class="form-control form-control-lg">
                      <option selected>اختار وسيلة نقل</option>
                      <option value="1">الحافلة</option>
                      <option value="2">القطار</option>
                      <option value="3">الباخرة</option>
                      <option value="3">الطائرة</option>

                    </select>
                  </div>
              
              <div class="form-group col-md-3 text-right">
                <label>المدينة
                </label>
                <input type="textbox" class="form-control" formControlName="NVille" required [(ngModel)]="ville">
              </div>
              <div class="form-group col-md-3 text-right">
                  <label>البلد
                  </label>
  
                  <select class="form-control form-control-lg" id="select" formControlName="codPays">
                    <option *ngFor="let pays of payss" [ngValue]="pays">{{pay.libPaysa}}</option>
                  </select>
                </div>
            </div>
          <!-- <div class="row ">
                <div class="form-group col-md-12 text-right">

                <div id="table" class="table-editable">
                  <table class="table table-bordered table-responsive-md table-striped text-center">
                    <tr>             
                        <th class="text-center">المجموع</th>    
                        <th class="text-center">مصاريف التنقل</th>
                      <th class="text-center">مصاريف المامورية</th>
                      <th class="text-center">الاعتمادات</th>
                    </tr>
                    <tr>
                      <td class="pt-3-half" contenteditable="false">{{val_budget}}</td>
                      <td class="pt-3-half" contenteditable="true">{{budget_mission.valeur_tr}}</td>
                      <td class="pt-3-half" contenteditable="true">{{budget_mission.valeur_miss}}</td>
                      <td class="pt-3-half" contenteditable="false">{{val_budget}}</td>
                    </tr>
                   
                  </table>
                </div>
              </div>
            </div>--> 
            <div class="row" dir="rtl">
                <div class="form-group col-md-4 text-right">
                  <label>مصاريف المامورية</label>
                </div>
               
            </div>
            <div class="row" dir="rtl">
                <div class="form-group col-md-4 text-right">
                    <label> التحمل على</label>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample">
                        <label class="custom-control-label" for="defaultInline1">الهيكل المعني</label>
                      </div>
                      
                      <!-- Default inline 2-->
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample">
                        <label class="custom-control-label" for="defaultInline2">الهيكل المضبف</label>
                      </div>
                      
                      <!-- Default inline 3-->
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="defaultInline3" name="inlineDefaultRadiosExample">
                        <label class="custom-control-label" for="defaultInline3">مشروع</label>
                      </div>
                      
                  </div>

            </div>
            <div class="row" dir='rtl'>
              <div class="form-group col-md-4 text-right">
<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="defaultChecked2"  (change)="toggleEditable($event)" >
    <label class="custom-control-label" for="defaultChecked2">استثناء</label>
  </div>
</div>
  </div>
  <div *ngIf="op==true">
            <div class="row" dir='rtl'>
                <div class="form-group col-md-4 text-right">
                    <div class="list-group radio-list-group">
                     
                          <div class="list-group-item list-group-item-info">&nbsp;<label><input type="radio" name="ra" value="1"><span class="list-group-item-text">على الحساب الخاص</span></label></div>
                    
                          <div class="list-group-item list-group-item-info"><label>&nbsp;<input type="radio" name="ra" value="2"><span class="list-group-item-text">تحمل مشترك بين الهيكل المعني و الاجنبي</span></label></div>
                     
                          <div class="list-group-item list-group-item-info"><label>&nbsp;<input type="radio" name="ra" value="3"><span class="list-group-item-text"> عدم الحط من المنحة بداية من 21 يوم</span></label></div>
                     
                          <div class="list-group-item list-group-item-info"><label>&nbsp;<input type="radio" name="ra" value="4"><span class="list-group-item-text"> مشروع</span></label></div>                
                        </div>     
              </div>
            </div>
  </div>
            <div class="row" dir='rtl'>
                <div class="form-group col-md-12 text-right">
                    <div id="table" class="table-editable">
                        <table class="table table-bordered table-responsive-md table-striped text-center">
                          <tr>             
                              <th class="text-center">نوعية المصاريف </th>
                            <th class="text-center"> المبلغ</th>
                            <th class="text-center">التحمل</th>
                          </tr>
                          <tr>
                            <td class="pt-3-half" contenteditable="true"></td>
                            <td class="pt-3-half" contenteditable="true"></td>
                            <td class="pt-3-half" contenteditable="true">
                                <select class="form-control" formControlName="graade" [(ngModel)]="selectedMissionnaire.graade">
                                    <option *ngFor="let grade of grades" [ngValue]="grade">{{grade.libGrda}}</option>
                                  </select>
                            </td>
                          </tr>
                          <tr>
                              <td class="pt-3-half" contenteditable="true"></td>
                              <td class="pt-3-half" contenteditable="true"></td>
                              <td class="pt-3-half" contenteditable="true">
                                  <select class="form-control" formControlName="graade" [(ngModel)]="selectedMissionnaire.graade">
                                      <option *ngFor="let grade of grades" [ngValue]="grade">{{grade.libGrda}}</option>
                                    </select>
                              </td>
                            </tr>
                            <tr>
                                <td class="pt-3-half" contenteditable="true"></td>
                                <td class="pt-3-half" contenteditable="true"></td>
                                <td class="pt-3-half" contenteditable="true">
                                    <select class="form-control" formControlName="graade" [(ngModel)]="selectedMissionnaire.graade">
                                        <option *ngFor="let grade of grades" [ngValue]="grade">{{grade.libGrda}}</option>
                                      </select>
                                </td>
                              </tr>
                         
                        </table>
                      </div>

</div>
            </div>
            <div>
              <button class="btn btn-success" (click)="add()">إدخال</button>

            </div>
            </form>
        </div>


      </div>

    </div>
  </div>
</div>