<div class="fluid.container" style="margin-bottom: 3% ; margin-top: 3%">
<div class="md-stepper-horizontal white" >
    <div class="md-step active done" (click)="goTo3()">
      <div class="md-step-circle"><span>1</span></div>
      <div class="md-step-title">ملخص المامورية</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step active editable" (click)="goTo2()">
      <div class="md-step-circle"><span>2</span></div>
      <div class="md-step-title">المصاريف و الوجهة</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step active editable" (click)="goTo1()">
      <div class="md-step-circle"><span>3</span></div>
      <div class="md-step-title">الامر  بالمامورية</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step active editable" (click)="goTo()">
      <div class="md-step-circle"><span>4</span></div>
      <div class="md-step-title">المامورية</div>
      <div class="md-step-bar-left"></div>
      <div class="md-step-bar-right"></div>
    </div>
  </div>
</div>