html,
body,
header,
.view {
  height: 100%;
}

@media (max-width:10000px) {
  html,
  body,
  header,
  .view {
    height: 100%;
  }
}
@media (min-width: 800px) and (max-width: 10000px) {
  html,
  body,
  header,
  .view {
    height: 700px;
  }
}

.btn .fa {
  margin-left: 3px;
}

.top-nav-collapse {
  background-color: #424f95 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #424f95 !important;
  }
}

.button1 {width: 445px;
height: 15%;
margin-top: 0.1777% ;
}
.button2 {width: 445px;
  height: 15%;
  margin-top: 0.1777% ; 
}
  .button3 {width: 445px;
    height: 15%;
    margin-top: 0.1777% ;
    }
.btn-white {
  color: black !important;
}


h6 {
  line-height: 1.7;
  color: black
}

.rgba-gradient {
  background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
  background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
}

.h2{
  position: absolute;
  margin-top : 55% ;
}

