label[for=code]{
    position: absolute;
    top: 15%;
    right:7%;
    font-size: 3ch;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
   

}
input[id=champ1]{
    position: absolute;
    top : 15%;
    right:20%;
}
input[id=champ2]{
    position: absolute;
    top:15%;
    right:35.75%;
}
.panel{
    position: relative;
	padding-bottom: 50%;
    background-color: white;
    
}


select[id=select]{
    position:absolute;
    margin-left:40 ;
  top : 30%;
  height: 70px;
  width: 50%;
  left: 20%;
}
label[for=MotClé] {
    
    position: absolute;
	margin-top: 20px;
	top:26%;
    right: 7%;
    left: 30;
    font-size: 3ch;
    font-family: Arial, Helvetica, sans-serif;
    
   
    
  }
  label[for=ObjetA] {
    position: absolute;
	top: 40%;
    right: 7%;
    left: 30;
    margin-top: 20px;
    font-size: 3ch;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
   
  }

  label[for=ObjetF] {
    position: absolute;
	padding-top: 20px;
	top: 35%;
    left: 1%;
    margin-top: 20px;
    font-size: 2ch;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    
   
  }
  textarea[for=objeetA]{
      position: absolute;
      top:40%;
      width: 30%;
      left: 50%;
      height: 100px;
      margin-top: 10px;

  }
  textarea[for=objeetF]{
      position: absolute;
      top : 40%;
    width: 30%;
    height: 100px;
    left: 15%;
    margin-top: 10px;
    
    
}
label[for=aller]{
    position: absolute;
	top: 60%;
    right: 7%;
    margin-top: 20px;
    font-size: 3ch;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
   

}

input[id=date2]{
    position: absolute;
	top: 60%;
    right:20%;
    margin-top: 20px;
    
}
label[for=retour]{
    position: absolute;
	top: 60%;
    right:40%;
    margin-top: 20px;
    font-size: 3ch;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
   
}
input[id=date1]{
    position: absolute;
	top: 60%;
    right:50%;
    margin-top: 20px;
    
}
label[for=duree]{
    position: absolute;
	top: 60%;
    left:30%;
    margin-top: 20px;
    font-size: 3ch;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
   

}

input[type=text]{
   position : absolute;
   top: 60%;
  
    left: 10%;
    margin-top: 20px;
    
}

input[button=submit]
{
    position: absolute;
    top:80%;
    left: 5px;
    font-family: Impact,  'Arial Narrow Bold', sans-serif;
}

button[id=boutton]{
    position: absolute;
    right : 60px;
}
button[id=bouton]{
    position: absolute;
    right: 90px;
}
