
<div><app-navbar></app-navbar>
</div>

  <div class="container">

    <form [formGroup]="missionForm" #f="ngForm">

    
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#pannel">إضافة مأمورية</button>
    

      <div class="card" id="pannel">

     <!-- <div class="collapse show" id="pannel">-->
        <div class="panel panel-primary">

            <div class="card-header bg-info text-white text-right" >
            إدخال مأمورية
          </div>

          <div>
            <input type="textbox" id="champ1" class="class-form" formControlName="numMission" [(ngModel)]="codeMission"/>
            <label for="code" class="font-weight-normal">رقم المأمورية</label>
          </div>

          <div>
            <input type="textbox" id="champ12" class="class-form" formControlName="code" [(ngModel)]="cod" hidden/>
          </div>

          <div>
            <label for="MotClé" class="font-weight-normal">الكلمة المفتاح</label>
            <select class="form-control form-control-lg" id="select">
              <option *ngFor="let motcle of motcles" [ngValue]="motcle">{{motcle.amotcle}}</option>
            </select>
          </div>

          <div>
            <label for="ObjetA" class="font-weight-normal">موضوع المأمورية </label>

            <textarea for="objeta" class="class-form" formControlName="objeta">you are in the zone</textarea>
          </div>

          <div>
            <label for="objetl" class="font-weight-normal"> Objet en Français </label>
            <textarea for="objeetF" formControlName="objetl" class="class-form">you are in the zone</textarea>
          </div>
          <div>
            <input type="text" class="class-form" />

            <label for="duree" class="font-weight-normal" style="width: 6rem;">المدة </label>


            <input type="date" id="date1" class="class-form" formControlName="datarrP" />
            <label for="retour" class="font-weight-normal">تاريخ الاياب </label>


            <input type="date" id="date2" class="class-form" formControlName="datdepP" />
            <label for="aller" class="font-weight-normal">تاريخ الذهاب </label>

          </div>
          <div>
            <input button="submit" (click)="add()" class="btn" value="إدخال منتفعين بالمأمورية"
              style="border:2px solid rgb(66, 26, 212);">
          </div>
        </div>
      </div>

    </form>

  </div>

  <div class="container">

   
      <button class="btn btn-primary button-right" type="button" data-toggle="collapse" data-target="#pannel2">إضافة مأمور</button>

    <div class="collapse" id="pannel2">
  
      <app-ord-missionnaire [date_debut]="date"></app-ord-missionnaire>
    </div>
  

  </div>
