.class[container]{
    position: relative;
}
   


label[delivre]{
    position: absolute;
	
	margin-top: 20px;
	top: 50;
    right: 0;
    left: 30;
}
label[cin]{
    position: absolute;
    right:0;
}



input[id=ll]{
    position: absolute;
    right : 2% ;
    
}
/*select[id=select]{
    position : absolute ;
    width : 50% ;
}
*/