<div class="container-fluid">
    <html >
  <head>
      <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
<link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css"> 
</head>
  <body> 
<div *ngIf="operation == 'ADD' || operation =='EDIT' || operation =='REMOVE'">
<div class="card-header bg-info text-white" >
  <div class="card-header bg-info text-white" >
    {{operation == 'ADD' ? 'ادخال' :
      operation == 'EDIT' ? 'تغيير' :
      operation == 'REMOVE' ? 'جذف' : ''}}
منتفع
</div>
</div>

<div class="card-body"  >
    <form [formGroup]="missionnaireForm" >
      <div class="form-group col-md-4" >
        <label> مكانها </label>
        <input type="text" class="form-control" formControlName="place_cin" 
        [(ngModel)]="selectedMissionnaire.place_cin" >
      </div>
      <div class="form-group col-md-4">
        <label for="delivre"> المسلمة يوم </label>
        <input type="date" class="form-control" formControlName="date_cin"      
        [(ngModel)]="selectedMissionnaire.date_cin" >
      </div>
     
      <div class="form-group col-md-4">
        <label for="cin"> الهوية الوطنية </label>
        <input type="text" class="form-control" formControlName="cin" 
        placeholder="Tapez dans ce champ 8 chiffres" autofocus pattern="[0-9]{8}" 
        name="cin" [(ngModel)]="selectedMissionnaire.cin" maxlength="8" >
      </div>
      <div class="form-group col-md-6">
        <label>مكانها</label>
        <input type="text" class="form-control" formControlName="place_naissance" 
        [(ngModel)]="selectedMissionnaire.place_naissance" >
      </div>
        <div class="form-group col-md-6">
          <label> تاريخ الولادة </label>
          <input type="date" class="form-control" formControlName="datenaissance" 
          [(ngModel)]="selectedMissionnaire.datenaissance" >
        </div>
        
        <div class="form-group col-md-6">
          <label> RIB </label>
          <input type="text" class="form-control" formControlName="rib" 
          [(ngModel)]="selectedMissionnaire.rib" >
        </div>

        <div class="form-group col-md-6">
          <label> المعرف الوحيد </label>
          <input type="text" class="form-control" formControlName="matricule" 
          [(ngModel)]="selectedMissionnaire.matricule" >
        </div>

        <div class="form-group col-md-6">
          <label> Prenom </label>
          <input type="text" class="form-control" formControlName="prenomL"
          [(ngModel)]="selectedMissionnaire.prenomL" >
        </div>
        <div class="form-group col-md-6">
            <label>الاسم</label>
            <input type="text" class="form-control" formControlName="prenom" 
            [(ngModel)]="selectedMissionnaire.prenom" >
          </div>
        <div class="form-group col-md-6">
          <label> Nom </label>
          <input type="text" class="form-control" formControlName="nomL" 
          [(ngModel)]="selectedMissionnaire.nomL" >
        </div>
        <div class="form-group col-md-6">
          <label>اللقب  </label>
          <input type="text" class="form-control" formControlName="nom" 
          [(ngModel)]="selectedMissionnaire.nom" >
        </div>
            <div class="form-group col-md-6">
              <label>Nationalite </label>
              <input type="text" class="form-control" formControlName="nationaliteL"  
              [(ngModel)]="selectedMissionnaire.nationaliteL" > 
            </div>
            <div class="form-group col-md-6">
                <label>الجنسية</label>
                <input type="text" class="form-control" formControlName="nationalite"  
                [(ngModel)]="selectedMissionnaire.nationalite" >
              </div>
         
             <div class="form-group col-md-6">
                  <label> الرتبة </label>
                  <input type = "text" class="form-control" id="search3" name="search3" list="list3" 
                  [(ngModel)]="selectedMissionnaire.graade" formControlName="grad" >
                  <datalist id="list3">
                    <option *ngFor="let grade of grades" [ngValue]="grade.liba" data-id="grade">
                  </datalist>
              </div>
              
              <div class="form-group col-md-6">
                <label>الوظيفة</label>
                <input type = "text" class = "form-control" id="search1" name="search1" list="list1"
                 [(ngModel)]="selectedMissionnaire.fonnction.liba" formControlName="fonct">
                <datalist id="list1">
                  <option *ngFor="let fonction of fonctions" [value]="fonction" data-id="fonction.code">
                </datalist>
            </div>
            
              <div class="form-group col-md-6">
                  <label>صنف</label>
                  <input type = "text" class="form-control" id="search4" name="search4" list="list4"
                    [(ngModel)]="selectedMissionnaire.cat.liba" formControlName="cate">
                  <datalist id="list4">
                    <option *ngFor="let categorie of categories" [value]="categorie" data-id="categorie.code">
                  </datalist>
                </div>
                <div class="form-group col-md-6">
                  <label>سلك</label>
                  <input type = "text" class="form-control" id="search2" name="search2" list="list2"
                   [(ngModel)]="selectedMissionnaire.classee.liba" formControlName="cl" >
                  <datalist id="list2">
                    <option *ngFor="let classe of classes" [value]="classe" data-id="classe"> {{classe.liba}}</option>
                  </datalist>
              </div>
               <div class="form-group col-md-6">
                  <label>المجموع</label>
                  <input type="text" class="form-control" formControlName="groupe"  
                  [(ngModel)]="selectedMissionnaire.groupe">
                </div>
                <div class="form-group col-md-6">
                  <label>مستوى التاجير</label>
                  <input type="text" class="form-control" formControlName="niveau" 
                  [(ngModel)]="selectedMissionnaire.niveau">
                </div>
               
              <div>
              <button class="btn btn-success"  
              (click)="operation == 'ADD' ? add() : operation=='EDIT'? update() : operation=='REMOVE'? remove() : '' ">
                {{ operation == 'ADD' ? 'اظافة' : operation == 'EDIT' ? 'تغيير':operation == 'REMOVE' ? 'حذف' : ''}}
                </button>
              </div>
      </form>
</div>
</div>
</body>
</html>
</div>